##########################################################

  SYSTEM NAME: {{ inventory_hostname }}
  SITE:    {{ site_location | default('München') }}
  
  WARNUNG: Zugriff nur für autorisierte Personen!
  Sämtliche Aktivitäten werden protokolliert.

##########################################################
