---
- name: DMZ Web Server Policy Rule
  check_point.mgmt.cp_mgmt_access_rule:
    layer: "Network"
    name: "{{ item.name }}"
    source: "{{ item.source }}"
    destination: "{{ item.destination }}"
    service: "{{ item.service }}"
    action: "{{ item.action }}"
    position: "{{ item.position }}"
  loop: "{{ fw_policy_dmz_rules }}"
  notify:
    - FW Publish
    - Install Policy
