---

- name: Firewall management (ansible)
  check_point.mgmt.cp_mgmt_access_rule:
    layer: "Network"
    name: "Ansible Management Access"
    source: Ansible Server
    destination:
      - "{{ fw_name }}" 
    service: Any
    action: "Accept"
    position: 1
  notify:
    - Publish
    - Install Policy

  handlers:
    - name: Publish
      check_point.mgmt.cp_mgmt_publish:

    - name: Install Policy
      check_point.mgmt.cp_mgmt_install_policy:
        policy_package: "Standard"
        targets:
          - "{{ fw_name }}"
