---
- name: Add static routes
  hosts: gaia
  gather_facts: false

  vars:
    static_routes:
      - destination: "172.31.128.0"
        mask: 21
        next_hop: "172.31.128.1"
        interface: "eth1"

  tasks:
    - name: Add Static Routes (Gaia)
      check_point.gaia.cp_gaia_static_route:
        address: "{{ item.destination }}"
        mask_length: "{{ item.mask }}"
        type: gateway
        next_hop: [{"gateway": "{{ item.next_hop }}", "priority": 1}]
        state: present
      loop: "{{ static_routes }}"

    - name: Retrieve routes
      check_point.gaia.cp_gaia_routes_facts:
      register: routes

    - name: Extract route_table
      ansible.builtin.set_fact:
        route_table: "{{ routes.ansible_facts.objects }}"

    - name: Extract new route variables from route_table
      ansible.builtin.set_fact:
        my_route: "{{ item }}"
        next_hop: "{{ item.next_hop.gateways[0] }}"
      loop: "{{ route_table }}"
      when: item.address == '172.31.128.0' and item.mask_length == 21

    - name: Verify new route is correct
      ansible.builtin.assert:
        that:
          - my_route.address == '172.31.128.0'
          - my_route.mask_length == 21
          - next_hop.address == '172.31.128.1'
          - next_hop.interface == 'eth1'

